backcall==0.2.0
click==7.1.2
decorator==4.4.2
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==1.0.14
ptyprocess==0.6.0
Pygments==2.7.2
regex==2020.10.28
scapy==2.4.4
sh==1.14.1
six==1.15.0
traitlets==5.0.5
wcwidth==0.2.5
